[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
yolov5 = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
huggingface-hub = "==0.24.7"
requests = "*"
ultralytics = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
