numpy
scipy
matplotlib
scikit-learn
pandas

yolov5

# frameworks
--extra-index-url https://download.pytorch.org/whl/cu124
torch 
torchvision 
torchaudio
huggingface_hub==0.24.7

requests
ultralytics
ipython