pytest
pytest-cov
coverage
numpy
unittest2
art
google-cloud-storage
pydantic
fastapi
requests
pandas
kagglehub
matplotlib
scikit-learn
opencv-python
httpx
python-multipart
adversarial-robustness-toolbox
scipy
tensorflow-addons
tensorboardX
requests
ultralytics
ipython
wandb
tensorflow==2.9.1 
keras==2.9.0
