pytest
pytest-cov
coverage
numpy
unittest2
art
tensorflow
google-cloud-storage
pydantic
fastapi
requests
pandas
kagglehub
matplotlib
scikit-learn
opencv-python
httpx
python-multipart
adversarial-robustness-toolbox