pytest
pytest-cov
coverage
numpy
unittest2
art
google-cloud-storage
pydantic
fastapi
requests
pandas
kagglehub
matplotlib
scikit-learn
opencv-python
httpx
python-multipart
adversarial-robustness-toolbox
scipy
tensorflow[and-cuda]
keras
tensorflow-addons
--extra-index-url https://download.pytorch.org/whl/cu124
tensorboardX
requests
ultralytics
ipython
wandb